!/tests/samples/
!/tests/samples/src
.vim/
.idea/
.vim/
.ropeproject/
.vscode/
*.c.orig
*.png
*.pyc
*.txt
/.venv/
/install_api.py
/tests/samples/*
BinaryNinja.zip
license.*
merge_mirror.sh
/.coverage*
/coverage.xml
/report.xml
tests/.pytest_cache/
tests/*.png
