git+https://github.com/fkie-cad/dewolf-logic.git#egg=delogic
git+https://github.com/fkie-cad/dewolf-idioms.git
black
isort
networkx != 2.8.4
pydot
pygments
pytest !=5.3.4
pytest-xdist
z3-solver == 4.8.10
pycparser
